*
{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --color:white;
}
#main-header
{
    height: 100vh;
    width: 100%;
    background-color:#1D1E21;;
}
nav 
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-10%);
    align-items: center;
   
}
.logo
{
    display: flex;
    align-items: center;
    color: var(--color);
    font-size: 1.2rem;
}
ul 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    list-style: none;
}
ul li a
{
    text-decoration: none;
    color: var(--color);
    font-size: 0.9rem;
}
.menu-btn 
{
    font-size: 2rem;
    cursor: pointer;
    display:none;
    color: var(--color);
}
 
.about-div 
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-div-top
{
    width:50rem;
    margin-top: 3rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 60%;
}
.about-div-top h1 
{
    font-size: 3rem;
    color: var(--color);
    font-weight: 400;
}

.top-left i
{
    margin-right: 2rem;
    animation: arrow 2s infinite ease;
    color: white;
    position: absolute;
    left:15%;
}
.button-1
{
    padding: .5rem;
    background-color: #29292C;
    border: none;
    font-size: 1.1em;
    color: var(--color);
    margin-top: 2rem;
}
.about-div-bottom
{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.image
{
    position: relative;
    margin-top: 5rem;
    top: 20%;
    left: 50%;
    transform: translate(-10%,-10%);
    cursor: pointer;
}
.image i
{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    opacity: 0.9;
    display: none;
}
.image:hover>i
{
    transition: .5s;
    display: block;
}

input[type="checkbox"]
{
    display: none;
}

.work-div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;   
    justify-content: space-evenly;
    height: 80vh;
  
    background-color: #1D1E21;
    position: relative;
}
.work-div-top p:first-child
{
    color: white;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 1.4px;
}
.work-div-top h1
{
    color: white;
    font-size:2.5rem;
    letter-spacing:2px;
    font-weight: 400;
}
.services-bottom-div
{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    margin-top: -4rem;
}
.service
{
    width: 14rem;
    border: 0.7px solid white;
    padding: 1.5rem;
    color: white;
    opacity: 0.9;
}
.service i 
{
    margin-bottom: 2rem;
}
.service h3
{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
}
 
.portfolio-div-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D1E21;
    color: white; 
}
.portfolio-headings
{
    margin: 2rem auto;
    text-align: center;
}
.portfolio-headings p:first-child
{
    color: grey;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.portfolio-headings h1
{
    font-size: 2.33rem;
    letter-spacing: 2px;
    color: white;
}
.actual-portfolio
{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,33rem);
    grid-template-rows: repeat(3,50rem);
}
.portfolio h1
{
    font-weight: lighter;
    width: 20rem;
}
.portfolio p a
{
    color: grey;
}
.final-wrap
{
    width: 100%;
    height: 100vh;
    background-color: #1D1E21;
    color: white;
    position: relative;
    border-bottom: 2px solid white;
}
.testimonial-div-wrapper
{
    width: 40rem;
    overflow-x: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%,-50%);
}
.testimonial
{
    display: flex;
    width: 160rem;
}
.testimonial input
{
    display: none;
}
.second-wrapper
{
    display: flex;
   flex-direction: column;
}
.second-wrapper-top 
{
    margin-bottom: 2rem;
}
.second-wrapper-top p
{
    text-transform: uppercase;
    color:grey;
    letter-spacing: 1px;
    font-weight: bolder;
}
.second-wrapper-top h1 
{
    font-size: 2.5rem;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.second-wrapper-bottom
{
    display: flex;  
}
.actual-testimonial
{
    width: 40rem;
    transition: 1s;
}
.testimonial-top p
{
    width: 80%;
    margin-bottom: 3rem;
    font-weight: 400;
    color: grey;
    /* font-size: 0.9rem; */
}
.testimonial-bottom
{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}
.testimonial-bottom img 
{
    border-radius: 50%;
    width:7rem;
    height: 7rem !important;
    background-size: cover;
}
.bottom h1 
{
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.bottom p 
{
    font-size: 0.9rem;
    text-transform: capitalize;
}
.manual-nav
{
    display: flex;
    width: 50%;
    margin: 2rem 4rem;
    justify-content: space-around;
}
.manual 
{
    cursor: pointer;
    height: .5rem;
    width: 2rem;
    border-radius: 2rem;
    border: 2px solid white;
}
#radio1:checked~.second-wrapper .second-wrapper-bottom .first
{
    margin-left: 0%;
}

#radio2:checked~.second-wrapper .second-wrapper-bottom .first
{
    margin-left: -25%;
}

#radio3:checked~.second-wrapper .second-wrapper-bottom .first
{
    margin-left: -50%;
}

#radio4:checked~.second-wrapper .second-wrapper-bottom .first
{
    margin-left: -75%;
}
.team-main-wrapper
{
    height: 100vh;
    width: 100%;
    background-color:#1D1E21;
    color: white;
    position: relative;
}
.teams-div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 74vh;
}
.teams-top h1 
{
    text-transform: capitalize;
    font-size: 2rem;
    letter-spacing: 2px;
}
.teams-top p 
{
    color: grey;
    text-transform: uppercase;
}
.teams-wrapper
{
    display: grid;
    grid-template-columns: repeat(2,30rem);
    grid-template-rows: repeat(2,10rem);
    grid-gap: 2rem;
}
.team 
{
    background-color: #18191C;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.team-left h3
{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.team-left p 
{
    border-bottom: 2px solid grey;
    font-weight: 300;
    text-transform: capitalize;
    color: grey;
}
.team-right img 
{
    height: 8rem;
    width: 8rem;
    border-radius: 50% 0rem 50% 50%;
}
.team-right img:hover
{
    border-radius: 0% 50% 50% 50%;
    transition: .5s linear;

}
.blogs-div-wrapper
{
    width: 100%;
    height: 120vh;
    background-color: #1D1E21;
    border-top: 1px solid white;
    color:white;
}
.blog-div
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 120vh;
    justify-content: space-around;
} 
.blog-top 
{
    text-align: center;
}
.blog-top p
{
    text-transform: uppercase;
    color: grey;
}
.blog-top h1 
{
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
.blog-bottom
{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.blog
{
    width: 23%;
    /* border: .1px solid white; */
    box-shadow:  20px 20px 60px #191a1c,
             -20px -20px 60px #212326;
             border-radius: 2rem;
}
.first-img
{
    width: 100% !important;
    border-radius: 2rem;
}
.blog-writer
{
    display: flex;
    width: 85%;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
}
.writer-left 
{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
}
.writer-left img 
{
    height: 3rem;
    width: 3rem !important;
    border-radius: 50%;
}
.blog-date
{
    display: flex;
    width: 70%;
    margin: 1rem 1rem;
    justify-content: space-around;
}
.blog-date p 
{
    font-size: 0.9rem;
    font-weight: 400;
    color: grey;
}
.main-part-blog h1
{
    font-size: 1.6rem;
    width: 80%;
    margin: 1rem auto;
    text-transform: capitalize;
}
.main-part-blog p 
{
    width: 80%;
    margin: 1rem auto;
    color: grey;
    font-size: .9rem;
}
@media(max-width:1000px)
{
    nav
    {
        padding: 0 2.25rem 0 3.25rem;
    }
}
@media(max-width:920px)
{
    .menu-btn
    {
        display: block;
    }
    #click:checked~.menu-btn i::before
    {
        content: "\F00d";
    }
    ul 
    {
        display: block;
        position: fixed;
        top: 5rem;
        left: -100%;
        width: 50%;
        height: 80vh;
        text-align: center;
        transition: 1s;
    }
    #click:checked~ul 
    {
        left: 0%;
    }
    ul li a 
    {
        margin-top: 3rem;
        display:block;
        margin-left: -100%;
        transition:.5s;
    }
    #click:checked~ul li a 
    {
        margin-left: -0%;
    }
}

@keyframes arrow 
{
    0%{top:20%;}
    40%{top:50%;}
    100%{top:20%;}
}